<%= render 'navigation'%>
<div class="container" >
  <div class="body-container">
    <div class="page-header">
      <h1><%= @note.title %></h1>
    </div>
    <div class="note-body">
      <%= @note.body %>
    </div>

    <%= render @note.comments %>

    <h3>Comment on the post</h3>
    <%= render "comments/form" %>

    <%= link_to 'Edit Note', edit_note_path(@note) %>
    <%= link_to 'Back', notes_path %>
  </div>
</div>